<h1> My blog  </h1>

<ul>
  {{#each items}}
    <li class = 'username'>{{this.username}}<span class='completed'><a href="/api/v1/items/delete/{{this.id}}">X</a></span></li>
    <p class = 'email' >{{this.email}} </p>
  {{/each}}
</ul>

<section class = "create Users">
  <h2> ADD Stuff </h2>
    <form class = "addUser" action="/api/v1/items" method= "post">
      <div>
        <div class = "">
          <label for "item-name"> WHAT IS YOUR USERNAME? </label>
        </div>
        <input type = "text" name="username" value= "">
      </div>

      <div>
        <div class ="">
          <label for="item-description"> GIVE ME YOUR EMAIL </label>
        </div>
        <textarea name ="email" rows="8" cols ="40" > </textarea>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
</section>
